h1 , h2, h3{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}

p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}

#imagemNickname{
    width: 100px;
}

#posts1 {
    width: 100%;
}